* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    font-family:"cursive";
}
html{
    width:100%;
    height:100%;
}
.navbar-brand{
    color:white;
}
.main, .total-score{
    padding:25px;
    margin-top: 50px 0;
    position: relative;
    top: 30px;
    left: -25px;
    text-align:center;
}

.score1, .score2{
    border: 2px solid black;
}

.input-button{
    padding:30px;
    text-align:center;
    align-item:center;

}
.mystyle{
    display:block !important;
}
button{
    background-color:white;
    color:black;
    padding:10px;
    width:120px;
    font-size:20px;
    border-radius:10%;
    border: 4px solid black;
}
.option{
    border: 4px solid black;
    border-radius: 50%;
    margin: 0px 20px;
    padding: 10px;
    display: inline-block;
}
.choice1, .choice2{
    padding:10px;
    display: inline-block;
}
.score1, .score2{
    padding:10px;
    display: inline-block;
}
img{
    background-color:white;
}
.choice2{
    /* align-item : left; */
    text-align:left;
    position: relative;
    top: 30px;
    left: 30px;
}
.choice1{
    position: relative;
    top: 30px;
    /* right: -25px; */
}
.res{
    position: relative;
    margin-top: 30px;
    padding-top:30px;
    right:-30px;
}
.reset{
    text-align:center;
}
.anim{
    padding:30px;
    margin:50px;
    text-align:center;
}
.inform{
    padding:30px;
    text-align:center !important;
}
ul{ 
    display:inline-block;
}
h4{
    font-size:28px;
}
li,p{
    font-size:22px;
    text-align:center ;
    
}
.rules, .info{
    padding:20px;
    border:2px solid black;
    border-radius:10%;
    text-align:center !important;
}
.footer{
    padding-top:20px;
}