@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    padding:0;
    background-color:#3268ff !important;
    margin:0;
    width:100%;
    /* font-family: 'Press Start 2P', 'cursive' !important; */
    height:100%;
    /* font-family:"cursive"; */
}
html{
    width:100%;
    height:100%;
    /* font-family: 'Press Start 2P', 'cursive'; */
}
.myTrue{
    color:"#ff0000" !important;
}
.navbar-brand{
    color:white;
    font-size: 1em;
}
.total-round{
    padding:20px;
    margin-top: 40px 0;
    position: relative;
    /* top: 30px; */
    /* left: -25px; */
    text-align:center;
}
.main{
    padding-top:0px;
    padding:10px;
    margin-top: 10px 0;
    position: relative;
    /* border: 3px solid #00ff00; */
    top: 10px;
    /* font-family: 'Press Start 2P', 'cursive'; */
    /* left: -25px; */
    text-align:center;
}
.resd, .resf{
    font-size:20px;
}
.total-score {
    padding:30px;
    margin-top: 20px 0;
    position: relative;
    top: 10px;
    /* left: -25px; */
    text-align:center;
}

.score1, .score2{
    border: 2px solid black;
    background-color:#ccff33;
}
.choice1,.choice2 {
    border: 2px solid black;
    background-color:#ccff33;
}
.res{
    background-color:#66ffcc;
}
.computers{
    color:#1c0399;
}
.users{
    color:#cc00ff
}
.input-button{
    padding:30px;
    text-align:center;
    align-items:center;
    

}
.mystyle{
    display:block !important;
}
button{
    background-color:white;
    color:black;
    padding:10px;
    width:120px;
    font-size:20px;
    border-radius:10%;
    border: 4px solid black;
}
.option{
    /* border: 4px solid black; */
    border-radius: 50%;
    margin: 0px 20px;
    background-color:#66ffff;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px #333, 0px 0px 5px 5px #333;
    display: inline-block;
}
.choice1, .choice2{
    padding:10px;
    display: inline-block;
}
.score1, .score2{
    padding:10px;
    display: inline-block;
}
.round{
    text-align:center;
    padding:10px;
}
.select-round{
    border: 2px solid black;
    border-radius:1%;
    text-align:center;
    font-size:18px;
    width: 25%;
    background-color:#00ff00;
}
img{
    background-color:#66ffff;
    border-radius:20%;
    /* cursor: -webkit-grab; */
    cursor: grab;
}
.option:hover, .image:hover{
    background-color:#00ffff;
}
.choice2{
    /* align-item : left; */
    text-align:left;
    position: relative;
    top: 30px;
    /* left: 30px; */
}
.choice1{
    position: relative;
    top: 30px;
    /* right: -25px; */
}
.res{
    position: relative;
    margin-top: 30px;
    margin-left:80px;
    margin-right:80px;
    border: 3px double black;
    /* padding-top:30px; */
    /* right:-30px; */
}
.reset{
    text-align:center;
}
.game-font, h5{
    font-family: 'Brush Script MT', 'cursive' !important;
    font-size: 2.0em;
}
.anim{
    padding:0.625em;
    padding-top: 0.9375em;
    padding-bottom: 0.9375em;
    margin-top: 0.625em;
    margin-bottom:0.625em;
    text-align:center;
}
.inform{
    padding:1.875em;
    text-align:center !important;
}
ul{ 
    display:inline-block;
}
.result{
    color:#cc0000;
}
.totalr{
    color:#003366;
}
li,p{
    font-size:1em;
    text-align:center ;
    
}
.try-button{
    background-color:#ccff99;
    color:black;
    font-size: 0.8em;
    padding: 1%;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
}
.try-button:hover{
    background-color:#aefa61;
}
.info-button{
    background-color:#0c0c0c;
    padding:10px;
    box-shadow: 0px 0px 5px #b0b0a4;
    font-size:1em;
}
.info-button:hover{
    background-color:#b0b0a4;
}
.rules, .info{
    padding:1.25em;
    background-color:#ccccb3;
    border:2px solid black;
    border-radius:10%;
    text-align:center !important;
}
.footer{
    padding-top:0.625em;
    font-size: 0.875em !important;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
.container{
    background-color: #aefa61;
    
}

